.App {
  text-align: center; 
}

.homeContainer{
  margin: 15vh 3vw 0 3vw;
  padding-bottom: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeLeft{
  color: white;
  margin-bottom: 10vh;
  width: 30%;
}

.homeAreaName{
  font-weight: 500;
  font-size: 300%;
}

.bookingContainer{
  margin: 15vh 9vw 0 9vw;
  padding-bottom: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookingForm{
  width: 25rem;
  height: 65vh;
  background-color: white;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px, solid black;
  border-radius: 20px;
}

button, .button{
  background-color: #F9A51A;
  border: 1px solid #F9A51A;
  border-radius: 5px !important;
  padding: 1vh 2vw;
  width: auto;
  height: auto;
}

.input{
  width: 15em;
  height: 10%;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  padding: 0 15px;
}

.formPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.formContainer{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorText{
  color: red;
}

.signinForm{
  padding: 5vh 10vw;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.signInInput{
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  /* border-bottom-style: 1px solid yellow; */
  background-color: #fff;
  padding-left: 0.1vw;
}

.signInInput:focus {
  outline: none;
}

.forgotPassword{
  padding-right: 2vw;
  cursor: pointer;
}

.forgotPassword, .createAccount{
  color: #F9A51A;
  text-decoration: none !important;
}

.createAccount:hover{
  text-decoration: none;
}

.or:after,
.or:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

.fireAuth{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: auto;
  margin-top: 2vh;
  border-radius: 20px;
  cursor: pointer;
}

.fireAuth:hover{
  background-color: lightgray;
}

.authLogo{
  width: 20%;
  margin-right: 2vw;
}

.authTitle{
  padding: 0 ;
  margin-right: 3vw;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer{
  margin: 0 5vw;
  padding: 3vh 0;
  border: 1px solid black;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  display: flex;
  flex-wrap: wrap;
}

.hotelContainer{
  width: 60%;
  margin-right: 5%;
}

.googleMapContainer{
  position: relative;
  min-width: 400px;
  margin-top: 10vh;
  padding-bottom: 56.25%;
}
.googleMapContainer > *{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 80%;
}

.notFound{
  text-align: center; 
  color: white;
  margin-top: 10%;
  padding-bottom: 80vh;
}

.hotelCardText{
  display: flex;
  align-items: top;
  height: max-content;
}

.hotelRating{
  font-weight: 500;
  margin-left: .5vw;
}